

.question-container{
    width:100%;
}
.question-bg{
    background-color:darkgray;
    margin: 20px;
    text-align: center;
}
.question-card {
    background-color:white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width:90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.question-card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.question-card-text {
    font-size: 16px;
    margin: 5px 0;
}
.question-form{
    text-align: left;
    padding: 20px;
}

.question-btns{
    display: flex;
    margin: 20px;
}




