.res-table-container{
    text-align: center;
    margin: auto;
    overflow-x: auto;
}

  @media (max-width: 768px) {
    .res-table {
      font-size: 0.8em; 
    }
  }

  @media (max-width: 600px) {
    .res-table-container {
      overflow-x: auto;
    }
  }