body {
 background-color: white;
  background-position: center;
  font-family: Arial, sans-serif; 
  
}
  
  .table-container {
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 1000px; 
  }

  .category-header {
    margin-top: 15px;
    margin-left: 12.7%;
    margin-right: 12.7%;
    padding: 2%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, #8c52ff,#5ce1e6);
    background-size: cover;
    color: #fff; 
  } 

  .category-header h1 {
    margin: 0;
    font-size: 1.5 rem;
  }
  
  .category-header button {
    background-color: #fff; 
    color: #272829; 
    border: none;
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; 
  }
  
  .category-header button:hover {
    cursor: pointer;
    background-color: #e0e0e0; 
  }  

/*Category Table*/
.category-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
  margin: 20px 0 20px 0;
  font-size: 1em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

@media (max-width:600px){  
  .category-header{
    margin: 1.4%;
  }

  .category-table{
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
  }
  th{
    overflow: scroll;
    white-space: nowrap;
      }
  td{
    overflow: scroll;
    white-space: nowrap;
      }

}



/* for add/update category form */

.cat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cat-form {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cat-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.cat-form input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cat-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
} 
.cat-form button:hover {
  cursor: pointer;
  background-color: #0056b3;
}

.cat-form a button {
  background-color: #ccc;
  color: white;
}

.cat-form a button:hover {
  cursor: pointer;
  background-color: #999;
}

.cat-form span {
  color: red;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

@media (max-width:600px){
  .cat-form{
    width: 300px;
  }
}