body {
 background-color: white;
  background-position: center;
  font-family: Arial, sans-serif; 
  
}
  
  .table-container {
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 1000px; 
  }


/* for add/update category form */

.cat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cat-form {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cat-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.cat-form input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cat-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
} 
.cat-form button:hover {
  background-color: #0056b3;
}

.cat-form a button {
  background-color: #ccc;
  color: white;
}

.cat-form a button:hover {
  background-color: #999;
}

.cat-form span {
  color: red;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

@media (max-width:600px){
  .cat-form{
    width: 300px;
  }
}