.page-title {
    margin-top: 15px;
    padding: 2%;
    margin-left: 10.5%;
    margin-right: 10.5%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7895CB; 
    color: #fff; 
  }  
  
  .page-title h1 {
    margin: 0; 
    font-size: 1.5 rem;
  }
  
  .page-title button {
    background-color: #fff; 
    color: #272829; 
    border: none;
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .page-title button:hover {
    background-color: #e0e0e0; 
  }