.pageContainer {
    height: 100vh;
    background-color: whitesmoke;
    align-items: center;  
}

.contentContainer{
    text-align: center;
    align-content: center;
    padding: 30px;
    border-radius: 5px;
    padding-top: 150px;
}

