  .quiz-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .quiz-header {
    margin-top: 15px;
    padding: 2%;
    margin-left: 10.5%;
    margin-right: 10.5%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, #8c52ff,#5ce1e6);
    color: #fff; 
  } 

  .quiz-header h1{
    margin: 0;
    font-size: 1.5 rem;
  }

  .quiz-header button {
    background-color: #fff; 
    color: #272829; 
    border: none;
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; 
  }
  
  .quiz-header button:hover {
    background-color: #e0e0e0; 
  }  

  #category-select{
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  @media (max-width:600px){  
    .quiz-header{
      margin: 1.4%;
    }
  }