/* .quiz-container{
    padding-left: 180px ;
    padding-right: 100px;
}
.card {
    background-color: whitesmoke;
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: inline-block;
    vertical-align: top;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .btn-danger {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-danger:hover {
    background-color: #ff4f4f;
  } */


  /* .page-title{
    background-color: wheat;
    font-size: 30px;
    margin-top: 15px;
    color: black;
    padding: 2%;
    margin-left: 10.5%;
    margin-right: 10.5%;
    border: solid white;
    border-radius: 5px;
} */
 .page-title {
  margin-top: 15px;
  padding: 2%;
  margin-left: 10.5%;
  margin-right: 10.5%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7895CB; 
  color: #fff; 
}  

.page-title h1 {
  margin: 0; /* Remove default margin */
  font-size: 1.5 rem;
}

.page-title button {
  background-color: #fff; /* Set your preferred button background color */
  color: #272829; /* Set your preferred button text color */
  border: none;
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* Adjust the font size as needed */
}

.page-title button:hover {
  background-color: #e0e0e0; /* Set your preferred button background color on hover */
}
  .quiz-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px; 
    text-align: center;
    font-family: Arial, sans-serif; 
    background-color: #f9f9f9; 
  }
  
  .card-title {
    font-size: 1.5rem; /* Adjust the font size as needed */
    margin-bottom: 10px;
    text-transform: capitalize
  }
  
  .card-text {
    font-size: 1rem; /* Adjust the font size as needed */
    margin-bottom: 10px;
  }
  
  .action-btn{
    margin: auto;
  }

  .action-btn.update-btn{
    display: block;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4A55A2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 50%;
  }

  .action-btn.delete-btn{
    display: block;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #252B48;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 50%;
  }
  
  .update-btn:hover,
  .delete-btn:hover {
    background-color: #0056b3; /* Set your preferred button color on hover */
  }